* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    background-color: hsl(185, 75%, 39%);
    min-height: 100vh;
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: right 40vw bottom 50vh, left 40vw top 45vh;
}

.container {
    margin: 0 auto;
    text-align: center;
}

.wrapper {
    max-width: 420px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    margin: 2rem;
}

.content img {
    width: 100px;
    border-radius: 50px;
    border: 3px solid white;
    margin-top: -52px;
    margin-bottom: 1rem;
}

.content h2 {
    font-size: 18px;
    color: hsl(229, 23%, 23%);
    font-weight: 700;
    margin-bottom: 1rem;
}

.content span {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
}

.content p {
    color: hsl(227, 10%, 46%);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    border-top: 1.5px solid hsla(0, 0%, 59%, 0.3);
    margin-top: 1.5rem;
}

p.num {
    color:hsl(229, 23%, 23%);
    font-size: 18px;
    font-weight: 700;
    
}